<div id ="flash"></div>

<% if @users.present? %>
	<% @users.each do |user| %>
		<%= user.email %>   <%= link_to "Follow", {:controller => "users", :action => "follow", :user_id => user.id}, :method => :post, :remote => true %> <br>
	<% end %>
<% else %>
	No Users found
<% end %>
